# 서울 월세/보증금/권리금 데이터 전처리
- data: 서울_전월세_평수.csv
- 무인사진관 입점 조건에 맞는 평균 임대료 확인하기(1층, 10~20평)

In [1]:
# 필요 라이브러리 로드

import pandas as pd
import numpy as np

## 데이터 확인

In [2]:
# 서울_전월세_평수.csv 데이터 파일 불러오기
df_서울평수전월세 = pd.read_csv('data/서울_전월세_평수.csv')

In [3]:
# 기본 정보 확인
df_서울평수전월세.info()
df_서울평수전월세.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7286 entries, 0 to 7285
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  7286 non-null   int64
 1   업종          7286 non-null   object
 2   보증금         7286 non-null   int64
 3   월세          7286 non-null   int64
 4   권리금         7286 non-null   int64
 5   평수(m2)      7286 non-null   float64
 6   제목          7286 non-null   object
 7   층           7286 non-null   object
 8   건물 전체 층     7286 non-null   object
 9   lat         7286 non-null   float64
 10  lng         7286 non-null   float64
 11  설명          7286 non-null   object
 12  주차          7286 non-null   object
 13  시           7286 non-null   object
 14  구           7286 non-null   object
 15  동           7286 non-null   object
dtypes: float64(3), int64(4), object(9)
memory usage: 910.9+ KB

(7286, 16)

## 전처리
### 결측치 제거

In [4]:
# 보증금, 월세, 권리금이 0인 데이터 확인
df_서울평수전월세.loc[(df_서울평수전월세['보증금']==0) | (df_서울평수전월세['권리금']==0) | (df_서울평수전월세['월세']==0)]

,Unnamed: 0,업종,보증금,월세,권리금,평수(m2),제목,층,건물 전체 층,lat,lng,설명,주차,시,구,동
9,9,기타,0,0,0,251.24,업종 제한 없는 남영역 공실,지하1층,17층,37.541654,126.970940,남영역이 매우 가까운 초역세권 매물입니다. 개방감 있고 가시성이 좋은 매장으로 면적...,"가능 - DriveIn, Mechanical 1대",서울특별시,용산구,청파동3가
13,13,기타,2000,110,0,49.59,"옥수역 3호선 초역세권, 옥수동 점포",2층,5층,37.541823,127.017091,"인근에 아파트, 오피스텔, 주택가들이 많아서 거주민들의 수요가 많은 곳에 위치해 있...",불가능,서울특별시,성동구,옥수동
19,19,한식/고기집,3000,240,0,145.45,"시설 집기 포함, 논현동 무권리 점포",지하1층,5층,37.508056,127.033034,버스정류장과 역이 가까워서 교통편이 좋아 멀리서도 쉽게 찾아올 수 있는 점포입니다....,가능 - 자주식 1대,서울특별시,강남구,논현동
20,20,기타,5000,250,0,83.33,전용주차2대!신축대비 저렴한 상가매물!,1층,4층,37.500440,127.106813,상가 및 사무실 확실하게 찾아드립니다!!\n👍임대인 고객 업종에 대해 협의 후 적극...,가능 - 자주식 2대,서울특별시,송파구,석촌동
22,22,기타,20000,1000,0,171.90,방배역과 내방역 사이의 더블역세권에 위치한 방배동 신축 공실,2층,7층,37.483975,126.996084,"방배역과 내방역 사이의 더블역세권, 압도적인 외관과 최상의 컨디션을 자랑하는 신축건...","가능 - DriveIn, Mechanical 12대",서울특별시,서초구,방배동
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7275,7275,기타,2000,150,0,52.90,"ERD 실매물전문, 컨디션上, ACE매물, 즉시계약, 렌탈스튜디오",2층,5층,37.522403,127.027783,▒ 매물안내 ▒\n\n✔ 보증금 : 2000\n✔ 월세 : 150\n✔ 관리비 : ...,가능 - 자주식 1대,서울특별시,강남구,신사동
7280,7280,기타,40000,1200,0,115.70,인사동길 내에 위치한 인사동 점포,1층,6층,37.572071,126.987695,주변 상업지대가 형성되어 있어 유동인구가 많은 공실 점포입니다. 1층에 위치하여 가...,불가능,서울특별시,종로구,인사동
7281,7281,기타,10000,680,0,158.70,"동대문역사문화공원역 도보 3분, 광희동2가 공실 매물",1층,10층,37.563230,127.007037,동대문 상권에 위치한 공실입니다. 대로변에 위치하여 홍보효과 뛰어난 위치 조건 자랑...,"가능 - DriveIn, Mechanical 1대",서울특별시,중구,광희동2가
7282,7282,기타,2000,220,0,76.03,업종 제한 없는 필동3가 공실 점포,1층,2층,37.559371,126.997027,개방감 있고 가시성이 좋은 매장으로 면적 보다 공간이 더 넓어 보이는 특징이 있습니...,불가능,서울특별시,중구,필동3가
7283,7283,카페/커피,2000,130,0,33.10,1주일이면 나가는 진짜 귀한 무권리 무시설금 강남 상가!!,1층,2층,37.501729,127.032973,"♥ 젊고 빠릿빠릿하며, 임대인 분들과 친분이 높아\n 보증금 월세 렌트 프리 조...",가능 - 자주식 1대,서울특별시,강남구,역삼동

In [5]:
# 보증금, 월세, 권리금이 0인 데이터 제거, 인덱스 초기화
idx = df_서울평수전월세.loc[(df_서울평수전월세['보증금']==0) | (df_서울평수전월세['권리금']==0) | (df_서울평수전월세['월세']==0)].index
df_서울평수전월세.drop(idx, inplace=True)
df_서울평수전월세.reset_index(drop=True, inplace=True)

In [6]:
df_서울평수전월세.shape

(5291, 16)

In [7]:
df_서울평수전월세.head(2)

,Unnamed: 0,업종,보증금,월세,권리금,평수(m2),제목,층,건물 전체 층,lat,lng,설명,주차,시,구,동
0,0,한식/고기집,5000,350,1500,33.10,제기동역 역세권에 위치한 제기동 떡갈비 전문점,1층,4층,37.579568,127.038866,지하철역이 가까운 역세권 매물입니다. 상권이 잘 형성되어있어서 유동인구가 많아 유입...,불가능,서울특별시,동대문구,제기동
1,1,미용/네일/피부관리,3500,150,3000,39.67,"금호역 초역세권, 대단지 아파트 내 네일샵 매물",1층,2층,37.546588,127.011762,금호역 바로앞에 위치한 초역세권 매물입니다. 대단지 아파트 내 상가에 위치하여 고정...,불가능,서울특별시,성동구,옥수동

### 불필요한 컬럼 제거

In [8]:
# 불필요한 컬럼 제거
df_서울평수전월세.drop(['Unnamed: 0', '제목', '설명', '주차'], axis=1, inplace=True)
df_서울평수전월세

,업종,보증금,월세,권리금,평수(m2),층,건물 전체 층,lat,lng,시,구,동
0,한식/고기집,5000,350,1500,33.10,1층,4층,37.579568,127.038866,서울특별시,동대문구,제기동
1,미용/네일/피부관리,3500,150,3000,39.67,1층,2층,37.546588,127.011762,서울특별시,성동구,옥수동
2,기타,6000,150,2000,66.12,1층,6층,37.549517,127.092006,서울특별시,광진구,구의동
3,기타주점,2500,245,6000,131.51,지하1층,4층,37.542139,127.067497,서울특별시,광진구,화양동
4,기타,1000,60,1800,56.20,지하1층,4층,37.493008,126.969768,서울특별시,동작구,사당동
...,...,...,...,...,...,...,...,...,...,...,...,...
5286,일식/해산물,3000,340,12000,128.90,2층,15층,37.530987,126.967875,서울특별시,용산구,한강로2가
5287,한식/고기집,800,75,3000,29.75,1층,3층,37.577274,127.024621,서울특별시,동대문구,신설동
5288,학원/학업관련,5000,210,5000,165.30,2층,3층,37.542097,127.099543,서울특별시,광진구,광장동
5289,중식,7000,450,23000,151.80,지하1층,16층,37.485148,127.120764,서울특별시,송파구,문정동
5290,한식/고기집,3000,190,6000,66.10,1층,4층,37.582246,127.035786,서울특별시,동대문구,제기동

### 서울시가 아닌 데이터 제거

In [9]:
# 서울시가 아닌 데이터 확인
df_서울평수전월세.loc[df_서울평수전월세['시']!='서울특별시']

,업종,보증금,월세,권리금,평수(m2),층,건물 전체 층,lat,lng,시,구,동
1895,미용/네일/피부관리,3500,180,2500,33.1,1층,4층,37.464687,127.03456,경기도,과천시,주암동

In [10]:
idx_nonseoul = df_서울평수전월세.loc[df_서울평수전월세['시']!='서울특별시'].index
df_서울평수전월세.drop(idx_nonseoul, inplace=True)
df_서울평수전월세.shape

(5290, 12)

### m2당 월세 파생변수 만들기
(월세 * 10000) / 평수

In [11]:
df_서울평수전월세['m2당월세'] = (df_서울평수전월세['월세'] * 10000) / df_서울평수전월세['평수(m2)']
df_서울평수전월세.head(2)

,업종,보증금,월세,권리금,평수(m2),층,건물 전체 층,lat,lng,시,구,동,m2당월세
0,한식/고기집,5000,350,1500,33.10,1층,4층,37.579568,127.038866,서울특별시,동대문구,제기동,105740.181269
1,미용/네일/피부관리,3500,150,3000,39.67,1층,2층,37.546588,127.011762,서울특별시,성동구,옥수동,37811.948576

### m2당 보증금 파생변수 만들기

In [12]:
df_서울평수전월세['m2당보증금'] = (df_서울평수전월세['보증금'] * 10000) / df_서울평수전월세['평수(m2)']
df_서울평수전월세.head(2)

,업종,보증금,월세,권리금,평수(m2),층,건물 전체 층,lat,lng,시,구,동,m2당월세,m2당보증금
0,한식/고기집,5000,350,1500,33.10,1층,4층,37.579568,127.038866,서울특별시,동대문구,제기동,105740.181269,1.510574e+06
1,미용/네일/피부관리,3500,150,3000,39.67,1층,2층,37.546588,127.011762,서울특별시,성동구,옥수동,37811.948576,8.822788e+05

### m2당 권리금 파생변수 만들기

In [13]:
df_서울평수전월세['m2당권리금'] = (df_서울평수전월세['권리금'] * 10000) / df_서울평수전월세['평수(m2)']
df_서울평수전월세.head(2)

,업종,보증금,월세,권리금,평수(m2),층,건물 전체 층,lat,lng,시,구,동,m2당월세,m2당보증금,m2당권리금
0,한식/고기집,5000,350,1500,33.10,1층,4층,37.579568,127.038866,서울특별시,동대문구,제기동,105740.181269,1.510574e+06,453172.205438
1,미용/네일/피부관리,3500,150,3000,39.67,1층,2층,37.546588,127.011762,서울특별시,성동구,옥수동,37811.948576,8.822788e+05,756238.971515

### 1층인 데이터만 추출

In [14]:
df_서울평수전월세 = df_서울평수전월세.loc[df_서울평수전월세['층']=='1층']

### 파일로 저장

In [15]:
df_서울평수전월세.to_csv('전처리완료_1층임대료.csv')