## 구글지도 API

In [9]:
#google geocoding api 
!pip install googlemaps
import googlemaps

Requirement already satisfied: googlemaps in /Users/hollyyoon/opt/anaconda3/lib/python3.9/site-packages (4.10.0)
Requirement already satisfied: requests<3.0,>=2.20.0 in /Users/hollyyoon/opt/anaconda3/lib/python3.9/site-packages (from googlemaps) (2.28.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/hollyyoon/opt/anaconda3/lib/python3.9/site-packages (from requests<3.0,>=2.20.0->googlemaps) (1.26.11)
Requirement already satisfied: idna<4,>=2.5 in /Users/hollyyoon/opt/anaconda3/lib/python3.9/site-packages (from requests<3.0,>=2.20.0->googlemaps) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in /Users/hollyyoon/opt/anaconda3/lib/python3.9/site-packages (from requests<3.0,>=2.20.0->googlemaps) (2022.12.7)
Requirement already satisfied: charset-normalizer<3,>=2 in /Users/hollyyoon/opt/anaconda3/lib/python3.9/site-packages (from requests<3.0,>=2.20.0->googlemaps) (2.0.4)

In [10]:
gmaps_key = 'AIzaSyAsNqXU3_c-LQqp6bdOV8ufiKquIUGc0yM'
gmaps = googlemaps.Client(key=gmaps_key)

## 중고등학교 - 위경도 추가

In [2]:
import pandas as pd
df_s = pd.read_csv('/Users/hollyyoon/Downloads/서울시 학교 기본정보.csv', encoding='cp949')
df_s.head()

,학교종류명,설립구분,표준학교코드,학교명,영문학교명,관할조직명,도로명우편번호,도로명주소,도로명상세주소,전화번호,...,주야구분명,설립일자,개교기념일,시도교육청코드,시도교육청명,소재지명,주야과정,계열명,학과명,적재일시
0,각종학교(중),사립,7134155,선화예술중학교,Sunhwa Arts Middle School,서울특별시성동광진교육지원청,4991,서울특별시 광진구 천호대로 664,/ 선화예술중고등학교 (능동),02-2204-1100,...,주간,19731201,19730705,B10,서울특별시교육청,서울특별시,NaN,NaN,NaN,20230129
1,초등학교,공립,7134150,서울숭신초등학교,Seoul Soongshin Elementary School,서울특별시성동광진교육지원청,4702,서울특별시 성동구 마장로 161,(하왕십리동),02-2252-5950,...,주간,19590403,19590403,B10,서울특별시교육청,서울특별시,NaN,NaN,NaN,20230129
2,중학교,공립,7134142,행당중학교,Haengdang Middle School,서울특별시성동광진교육지원청,4764,서울특별시 성동구 왕십리로 189,(행당동/행당중학교),02-2292-2721,...,주간,19680806,19681002,B10,서울특별시교육청,서울특별시,NaN,NaN,NaN,20230129
3,중학교,사립,7134141,한양대학교사범대학부속중학교,Hanyang University Middle School,서울특별시성동광진교육지원청,4761,서울특별시 성동구 마조로 42,(사근동/한양사대부속중?고등학교),02-2200-3700,...,주간,19600118,19600118,B10,서울특별시교육청,서울특별시,NaN,NaN,NaN,20230129
4,중학교,공립,7134140,자양중학교,Jayang Middle School,서울특별시성동광진교육지원청,5069,서울특별시 광진구 뚝섬로41길 33,(자양동/서울자양중학교),02-446-0365,...,주간,19840301,19840301,B10,서울특별시교육청,서울특별시,NaN,NaN,NaN,20230129

In [3]:
df_s = df_s[['학교종류명','학교명','도로명우편번호', '도로명주소','도로명상세주소']]
df_s

,학교종류명,학교명,도로명우편번호,도로명주소,도로명상세주소
0,각종학교(중),선화예술중학교,4991,서울특별시 광진구 천호대로 664,/ 선화예술중고등학교 (능동)
1,초등학교,서울숭신초등학교,4702,서울특별시 성동구 마장로 161,(하왕십리동)
2,중학교,행당중학교,4764,서울특별시 성동구 왕십리로 189,(행당동/행당중학교)
3,중학교,한양대학교사범대학부속중학교,4761,서울특별시 성동구 마조로 42,(사근동/한양사대부속중?고등학교)
4,중학교,자양중학교,5069,서울특별시 광진구 뚝섬로41길 33,(자양동/서울자양중학교)
...,...,...,...,...,...
3884,고등학교,국립국악고등학교,6311,서울특별시 강남구 개포로22길 65,(개포동/ 국악고등학교)
3885,특수학교,한국우진학교,3934,서울특별시 마포구 월드컵북로38길 21,/ 한국우진학교 (중동)
3886,특수학교,서울농학교,3032,서울특별시 종로구 필운대로 103,(신교동)
3887,특수학교,서울맹학교,3032,서울특별시 종로구 필운대로 97,(신교동)
3888,공동실습소,경기기계공업고등학교부설미래기술교육센터,1810,서울특별시 노원구 공릉로 264,(하계동/ 경기기계공업고등학교)

In [11]:
def find_lat(name):
    try :
        tmp = gmaps.geocode(name,language='ko')
        return tmp[0].get('geometry')['viewport']['northeast']['lat']
    except : 
        return None

In [12]:
def find_lot(name):
    try : 
        tmp = gmaps.geocode(name,language='ko')
        return tmp[0].get('geometry')['viewport']['northeast']['lng']
    except : 
        return None

In [13]:
df_s['lat'] = df_s['학교명'].apply(find_lat)
df_s['lot'] = df_s['학교명'].apply(find_lot)
df_s.head()

,학교종류명,학교명,도로명우편번호,도로명주소,도로명상세주소,lat,lot
0,각종학교(중),선화예술중학교,4991,서울특별시 광진구 천호대로 664,/ 선화예술중고등학교 (능동),37.551604,127.088914
1,초등학교,서울숭신초등학교,4702,서울특별시 성동구 마장로 161,(하왕십리동),37.569052,127.029116
2,중학교,행당중학교,4764,서울특별시 성동구 왕십리로 189,(행당동/행당중학교),37.555773,127.043235
3,중학교,한양대학교사범대학부속중학교,4761,서울특별시 성동구 마조로 42,(사근동/한양사대부속중?고등학교),37.563025,127.044507
4,중학교,자양중학교,5069,서울특별시 광진구 뚝섬로41길 33,(자양동/서울자양중학교),37.536646,127.075870

In [ ]:
df_s.to_csv('/Users/hollyyoon/Downloads/중고교.csv')

## 대학교 - 위경도 추가

In [14]:
df_u = pd.read_csv('/Users/hollyyoon/Downloads/서울시 대학 및 전문대학 DB 정보 (한국어).csv', encoding='cp949')
df_u.tail()

,키값,연도,학교종류,학교명,본분교,학교상태,설립,우편번호,주소,도로명주소,행정시,행정구,행정동,전화번호,팩스번호,홈페이지
59,BE_LiST23-0029,2013,교육대학,서울교육대학교,본교,기존,국립,NaN,서울 서초구 서초중앙로 96(서초동 1650),NaN,서울특별시,서초구,서초1동,02-3475-2114,02-581-7711,http://www.snue.ac.kr
60,BE_LiST23-0030,2013,일반대학,서울기독대학교,본교,기존,사립,NaN,서울 은평구 갈현로 4길 26-2호,NaN,서울특별시,은평구,신사1동,02-380-2500,02-380-2535,http://www.scu.ac.kr
61,BE_LiST23-0031,2013,일반대학,서울대학교,본교,기존,국립대법인,NaN,서울 관악구 관악로 1 서울대학교,NaN,서울특별시,관악구,낙성대동,02-880-5114,02-885-5272,http://www.snu.ac.kr
62,BE_LiST23-0032,2013,사이버대학(대학),서울디지털대학교,본교,기존,사립,NaN,서울 마포구 도화동 560번지,NaN,서울특별시,마포구,도화동,02-1644-0982,02-2128-3006,http://www.sdu.ac.kr
63,BE_LiST23-0033,2013,사이버대학(대학),서울사이버대학교,본교,기존,사립,NaN,서울 강북구 솔매로49길 60(미아동 193-15) 서울사이버대학교,NaN,서울특별시,강북구,미아동,02-944-5000,02-980-2222,http://www.iscu.ac.kr

In [15]:
df_u['lat'] = df_u['학교명'].apply(find_lat)
df_u['lot'] = df_u['학교명'].apply(find_lot)
df_u.head()

,키값,연도,학교종류,학교명,본분교,학교상태,설립,우편번호,주소,도로명주소,행정시,행정구,행정동,전화번호,팩스번호,홈페이지,lat,lot
0,BE_LiST23-0034,2013,일반대학,서울시립대학교,본교,기존,공립,NaN,서울 동대문구 서울시립대로 163 (전농동 90번지),NaN,서울특별시,동대문구,휘경2동,02-6490-6114,02-2210-5576,http://www.uos.ac.kr,37.585215,127.060126
1,BE_LiST23-0035,2013,전문대학(3년제),서울여자간호대학교,본교,기존,사립,NaN,서울 서대문구 홍제3동 서울여자간호대학,NaN,서울특별시,서대문구,홍제2동,02-2287-1700,02-395-8018,http://www.snjc.ac.kr,37.598824,126.948765
2,BE_LiST23-0036,2013,일반대학,서울여자대학교,본교,기존,사립,NaN,서울특별시 노원구 화랑로 621 서울여자대학교,NaN,서울특별시,노원구,공릉2동,02-970-5114,02-978-7931,http://www.swu.ac.kr,37.629462,127.091806
3,BE_LiST23-0037,2013,전문대학(2년제),서일대학교,본교,학교명 변경,사립,NaN,서울 중랑구 서일대학길 22(면목동 49-3) 서일대학교,NaN,서울특별시,중랑구,면목제3.8동,02-490-7300,02-493-2576,http://www.seoil.ac.kr,37.587966,127.099093
4,BE_LiST23-0038,2013,일반대학,성공회대학교,본교,기존,사립,NaN,서울 구로구 항동 성공회대학교,NaN,서울특별시,구로구,오류2동,02-2610-4142,02-2610-4248,http://www.skhu.ac.kr,37.489084,126.826506

In [ ]:
df_u.to_csv('/Users/hollyyoon/Downloads/대학교.csv')